body { 
    background: url("assets/landing_page_picture.jpg") no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
  
    
.container {
    width: auto;
    height: 100%;
    display: center;
   

}

    
button{
    display: center;
    align-items: center;
    font-family: sans-serif;
    background-color: darkblue;
    border-radius: 10px;
    border: 3px black;
    color: #eeeeee;
    text-align: center;
    font-size: 23px;
    padding: 30px;
    width: 350px;
    margin-top: 7px;
    justify-content: center;
    
    
}
    
button:hover{
    box-shadow: 6px 6px 6px #030303;
}
    
#landingpage{
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    margin:300px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
    
} 

#questionText {
    display:center;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    justify-content: center;
 
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:darkblue;
    color: white;
    text-align: center;
  }
  
  #quiz {
    display:none;
    flex-direction: column;
    align-items: center;
    color: white;
    margin:300px;
    text-align: center;


  }

  #buttonDiv {
      margin-left: 300px;
      margin-right: 300px;
      padding: 20px;
      display: center;   

  }